<!-- Preloader -->
<section class="loading-overlay">
  <div class="Loading-Page">
    <h2 class="loader">Loading</h2>
  </div>
</section>

<!-- Boxed -->
<div class="boxed">
  <div class="wrap-slider">
    <div class="container page-container">
      <div class="page-content">
        <div class="page-title">
          <h1>COURSE-TABLE</h1>
          <div class="breadcrumbs">
            <ul>
              <li><a href="#">Home</a></li>
              <li>Courses</li>
            </ul>
          </div>
          <!-- breadcrumb -->
        </div>
        <!-- page-title -->
      </div>
    </div>
    <!-- container -->
  </div>
  <!-- wrap-slider -->

  <!-- Portfolio -->
  <section class="flat-row bg-theme pd-top-100 pd-bottom-no">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <form action="./contact/contact-process.php" method="post" id="formsearch-flatcourse" class="formsearch">
            <ul class="form-wrap">
              <li class="col-md-4 form-select">
                <p class="search-form-select">
                  <select class="select-field">
                    <option value="">ALL CATEGORIES</option>
                    <option value="">BUSSINESS</option>
                    <option value="">ENGINEERING</option>
                    <option value="">LIFE SCIENCES</option>
                    <option value="">MANAGENMENT</option>
                  </select>
                </p>
              </li>
              <li class="col-md-5 form-key">
                <p class="search-form-keyword">
                  <input
                    type="text"
                    id="keyword"
                    name="keyword"
                    value=""
                    required="required"
                    placeholder="COURE KEYWORD"
                  />
                </p>
              </li>
              <li class="col-md-3 form-btn">
                <div class="search-form-btn">
                  <div class="wrap-btn">
                    <a class="flat-btn bg-color style3" href="#">SEARCH COURSE</a>
                  </div>
                </div>
              </li>
            </ul>
          </form>
        </div>
      </div>
    </div>
    <div class="dividers h33"></div>
    <!-- dividers h33 -->
    <div class="container">
      <div class="table-body">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>TITLE</th>
              <th>CATEGORIES</th>
              <th>DURATION</th>
              <th>STATUS</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>IT20</td>
              <td class="icon-play">1.1 Introduction</td>
              <td>Teachnology</td>
              <td>2 week</td>
              <td>April 10,2016</td>
            </tr>
            <tr>
              <td>IT20</td>
              <td class="icon-play">1.1 Introduction</td>
              <td>Teachnology</td>
              <td>2 week</td>
              <td>April 10,2016</td>
            </tr>
            <tr>
              <td>IT20</td>
              <td class="icon-play">1.1 Introduction</td>
              <td>Teachnology</td>
              <td>2 week</td>
              <td>April 10,2016</td>
            </tr>
            <tr>
              <td>IT20</td>
              <td class="icon-play">1.1 Introduction</td>
              <td>Teachnology</td>
              <td>2 week</td>
              <td>April 10,2016</td>
            </tr>
            <tr>
              <td>IT20</td>
              <td class="icon-play">1.1 Introduction</td>
              <td>Teachnology</td>
              <td>2 week</td>
              <td>April 10,2016</td>
            </tr>
            <tr>
              <td>IT20</td>
              <td class="icon-play">1.1 Introduction</td>
              <td>Teachnology</td>
              <td>2 week</td>
              <td>April 10,2016</td>
            </tr>
            <tr>
              <td>IT20</td>
              <td class="icon-play">1.1 Introduction</td>
              <td>Teachnology</td>
              <td>2 week</td>
              <td>April 10,2016</td>
            </tr>
            <tr>
              <td>IT20</td>
              <td class="icon-play">1.1 Introduction</td>
              <td>Teachnology</td>
              <td>2 week</td>
              <td>April 10,2016</td>
            </tr>
            <tr>
              <td>IT20</td>
              <td class="icon-play">1.1 Introduction</td>
              <td>Teachnology</td>
              <td>2 week</td>
              <td>April 10,2016</td>
            </tr>
            <tr>
              <td>IT20</td>
              <td class="icon-play">1.1 Introduction</td>
              <td>Teachnology</td>
              <td>2 week</td>
              <td>April 10,2016</td>
            </tr>
            <tr>
              <td>IT20</td>
              <td class="icon-play">1.1 Introduction</td>
              <td>Teachnology</td>
              <td>2 week</td>
              <td>April 10,2016</td>
            </tr>
            <tr>
              <td>IT20</td>
              <td class="icon-play">1.1 Introduction</td>
              <td>Teachnology</td>
              <td>2 week</td>
              <td>April 10,2016</td>
            </tr>
            <tr>
              <td>IT20</td>
              <td class="icon-play">1.1 Introduction</td>
              <td>Teachnology</td>
              <td>2 week</td>
              <td>April 10,2016</td>
            </tr>
            <tr>
              <td>IT20</td>
              <td class="icon-play">1.1 Introduction</td>
              <td>Teachnology</td>
              <td>2 week</td>
              <td>April 10,2016</td>
            </tr>
            <tr>
              <td>IT20</td>
              <td class="icon-play">1.1 Introduction</td>
              <td>Teachnology</td>
              <td>2 week</td>
              <td>April 10,2016</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- container-->
  </section>

  <!-- flat-contact -->
  <section class="flat-row bg-theme flat-contact pd-top-94">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <div class="title-section style2 color-title left color-sub">
            <h1 class="title">EDUCATION <span class="color-orange">THEMES</span></h1>
            <div class="sub-title">
              Eduharvart is an education platform that partners with top universities and organizations <br />
              worldwide,<span class="color-gray"> ABSOLUTELY</span> <span class="color-orange">FREE.</span>
            </div>
          </div>
        </div>
        <!-- col.md-8 -->
        <div class="col-md-4 right-contact">
          <div class="wrap-btn">
            <a class="flat-btn bg-color" href="#">ENROLL NOW</a>
          </div>
        </div>
        <!-- col.md-4 -->
      </div>
      <!-- row -->
    </div>
    <!-- Container -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="center-contact">
            <img src="../../../assets/images/11.jpg" alt="image" />
          </div>
        </div>
      </div>
    </div>
    <!-- Container -->

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="subscribe-contact wrap-box pdfull">
            <div class="title-section">
              <h1 class="title">SUBSCRIBE TO NEWSLETTER</h1>
              <div class="sub-title">
                Subscribe now and receive weekly newsletter with educational materials, new courses,<br />interesting
                posts, popular books and much more!
              </div>
            </div>
            <form
              action="./contact/contact-process.php"
              method="post"
              id="formsubscribe"
              class="formsearch search-course"
            >
              <p class="subscribe-email">
                <input
                  type="text"
                  id="emailsubscribe"
                  name="email"
                  value=""
                  required="required"
                  placeholder="Your email here"
                />
              </p>
              <div class="subscribe-btn">
                <div class="wrap-btn">
                  <a class="flat-btn bg-color" href="#">ENROLL NOW</a>
                </div>
              </div>
            </form>
          </div>
          <!-- subscribe-contact -->
        </div>
        <!-- Col-md-12 -->
      </div>
      <!-- row -->
    </div>
    <!-- Container -->
  </section>

  <a class="go-top show"></a>
</div>
<!-- Boxed -->
