<div class="boxed position_form">
  <div class="wrap-header clearfix">
    <!-- portfolio-isotope -->
    <section class="flat-row bg-theme wrap-price-post">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-section title-height46">
              <h1 class="title">POPULAR COURSE</h1>
              <div class="sub-title">Join our growing global community of over 7 million learners.</div>
            </div>
          </div>
          <!-- col.md-12 -->
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="portfolio-filter style1">
              <li><a data-filter=".bussiness" href="#">Bussiness</a></li>
              <li class="active"><a data-filter=".manage" href="#">Managenment</a></li>
              <li><a data-filter=".engin" href="#">Engineering</a></li>
              <li><a data-filter=".tech" href="#">Technology</a></li>
              <li><a data-filter=".life" href="#">Life sciences</a></li>
              <li><a data-filter=".medici" href="#">Medicine</a></li>
              <li><a data-filter=".other" href="#">Other</a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="portfolio style2">
          <div class="portfolio-wrap clearfix">
            <div class="item manage tech life">
              <article class="entry">
                <div class="featured-post">
                  <a href="#"><img src="images/portfolio/1.jpg" alt="image" /></a>
                </div>
                <div class="entry-post">
                  <h3 class="entry-title">
                    <a href="#">Building WordPress Themes<br />With Bootstrap</a>
                  </h3>
                  <div class="entry-author">
                    <span>With<a href="#"> John Sloan</a></span>
                  </div>
                  <div class="entry-number">
                    <div class="entry-count">TOTAL:<span class="count"> 100</span></div>
                    <div class="entry-price">PRICE:<span class="price"> $200</span></div>
                  </div>
                </div>
                <!-- entry-post -->
              </article>
            </div>
            <!-- item -->
            <div class="item medici manage other medici bussiness tech life">
              <article class="entry">
                <div class="featured-post">
                  <a href="#"><img src="images/portfolio/2.jpg" alt="image" /></a>
                </div>
                <div class="entry-post">
                  <h3 class="entry-title">
                    <a href="#">Understanding Persuasive<br />Web Design</a>
                  </h3>
                  <div class="entry-author">
                    <span>With<a href="#"> John Sloan</a></span>
                  </div>
                  <div class="entry-number">
                    <div class="entry-count">TOTAL:<span> 100</span></div>
                    <div class="entry-price color-green">PRICE:<span> FREE</span></div>
                  </div>
                </div>
                <!-- entry-post -->
              </article>
            </div>
            <!-- item -->
            <div class="item other life engin manage bussiness">
              <article class="entry">
                <div class="featured-post">
                  <a href="#"><img src="images/portfolio/3.jpg" alt="image" /></a>
                </div>
                <div class="entry-post">
                  <h3 class="entry-title">
                    <a href="#">Building Static Websites<br />With Jekyll</a>
                  </h3>
                  <div class="entry-author">
                    <span>With<a href="#"> John Sloan</a></span>
                  </div>
                  <div class="entry-number">
                    <div class="entry-count">TOTAL:<span class="count"> 100</span></div>
                    <div class="entry-price">PRICE:<span class="price"> $200</span></div>
                  </div>
                </div>
                <!-- entry-post -->
              </article>
            </div>
            <!-- item -->
            <div class="item life engin manage bussiness">
              <article class="entry">
                <div class="featured-post">
                  <a href="#"><img src="images/portfolio/4.jpg" alt="image" /></a>
                </div>
                <div class="entry-post">
                  <h3 class="entry-title">
                    <a href="#">Building Static Websites<br />With Jekyll</a>
                  </h3>
                  <div class="entry-author">
                    <span>With<a href="#"> John Sloan</a></span>
                  </div>
                  <div class="entry-number">
                    <div class="entry-count">TOTAL:<span class="count"> 100</span></div>
                    <div class="entry-price color-green">PRICE:<span class="price"> FREE</span></div>
                  </div>
                </div>
                <!-- entry-post -->
              </article>
            </div>
            <!-- item -->
            <div class="item other medici tech life engin manage">
              <article class="entry">
                <div class="featured-post">
                  <a href="#"><img src="images/portfolio/5.jpg" alt="image" /></a>
                </div>
                <div class="entry-post">
                  <h3 class="entry-title">
                    <a href="#">Building WordPress Themes<br />With Bootstrap</a>
                  </h3>
                  <div class="entry-author">
                    <span>With<a href="#"> John Sloan</a></span>
                  </div>
                  <div class="entry-number">
                    <div class="entry-count">TOTAL:<span class="count"> 100</span></div>
                    <div class="entry-price">PRICE:<span class="price"> $200</span></div>
                  </div>
                </div>
                <!-- entry-post -->
              </article>
            </div>
            <!-- item -->
            <div class="item manage bussiness">
              <article class="entry">
                <div class="featured-post">
                  <a href="#"><img src="images/portfolio/6.jpg" alt="image" /></a>
                </div>
                <div class="entry-post">
                  <h3 class="entry-title">
                    <a href="#">Understanding Persuasive<br />Web Design</a>
                  </h3>
                  <div class="entry-author">
                    <span>With<a href="#"> John Sloan</a></span>
                  </div>
                  <div class="entry-number">
                    <div class="entry-count">TOTAL:<span class="count"> 100</span></div>
                    <div class="entry-price color-green">PRICE:<span class="price"> FREE</span></div>
                  </div>
                </div>
                <!-- entry-post -->
              </article>
            </div>
            <!-- item -->
          </div>
          <!-- portfolio-wrap -->
        </div>
        <!-- portfolio -->
        <div class="row">
          <div class="dividers h30"></div>
        </div>
      </div>
      <!-- container -->

      <div class="button-style center mg-left2">
        <div class="wrap-btn">
          <a class="flat-btn pdwith57" href="#">VIEW ALL</a>
        </div>
      </div>
    </section>
  </div>
  <!-- bottom -->
</div>
<!-- Boxed -->
