<div class="boxed position_form">
  <div class="wrap-header clearfix">
    <section class="flat-row bg-theme pd-top-152 pd-bottom-97 flat-iconbox">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="f-select">
              <form action="./contact/contact-process.php" method="post" id="formsearch-flatcourse" class="formsearch">
                <ul class="form-wrap">
                  <li class="col-md-4 form-select">
                    <p class="search-form-select">
                      <select class="select-field">
                        <option value="">ALL CATEGORIES</option>
                        <option value="">BUSSINESS</option>
                        <option value="">ENGINEERING</option>
                        <option value="">LIFE SCIENCES</option>
                        <option value="">MANAGENMENT</option>
                      </select>
                    </p>
                  </li>
                  <li class="col-md-5 form-key">
                    <p class="search-form-keyword">
                      <input
                        type="text"
                        id="keyword"
                        name="keyword"
                        value=""
                        required="required"
                        placeholder="COURE KEYWORD"
                      />
                    </p>
                  </li>
                  <li class="col-md-3 form-btn">
                    <div class="search-form-btn">
                      <div class="wrap-btn">
                        <a class="flat-btn bg-color style3" href="#">SEARCH COURSE</a>
                      </div>
                    </div>
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- container -->

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-section">
              <h1 class="title">
                OFFERING THE BEST <br />
                IN EDUCATION TO THE WORLD
              </h1>
              <div class="sub-title">Sign-up today to join over 6 million learners already on ALISON</div>
            </div>
          </div>
          <!-- col-md-12 -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->

      <div class="container">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="iconbox style-title">
              <div class="box-header">
                <div class="box-icon">
                  <img src="images/iconbox/1.png" alt="image" />
                </div>
                <div class="box-title">
                  <a href="#" title="">Best Learning Communities</a>
                </div>
              </div>
              <div class="box-content">
                <p>The idea is to keep the discussions<br />going after class ends.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="iconbox icon-green style-title">
              <div class="box-header">
                <div class="box-icon">
                  <img src="images/iconbox/2.png" alt="image" />
                </div>
                <div class="box-title">
                  <a href="#" title="">Online Teaching Jobs</a>
                </div>
              </div>
              <div class="box-content">
                <p>The idea is to keep the discussions<br />going after class ends.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="iconbox icon-blue style-title">
              <div class="box-header">
                <div class="box-icon">
                  <img src="images/iconbox/3.png" alt="image" />
                </div>
                <div class="box-title">
                  <a href="#" title="">Learn Courses Online</a>
                </div>
              </div>
              <div class="box-content">
                <p>The idea is to keep the discussions<br />going after class ends.</p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="iconbox icon-cyan style-title">
              <div class="box-header">
                <div class="box-icon">
                  <img src="images/iconbox/4.png" alt="image" />
                </div>
                <div class="box-title">
                  <a href="#" title="">Book Library & Store</a>
                </div>
              </div>
              <div class="box-content">
                <p>The idea is to keep the discussions<br />going after class ends.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- container -->
    </section>
  </div>
  <!-- bottom -->
</div>
<!-- Boxed -->
