<div class="boxed position_form">
  <div class="wrap-header clearfix">
    <div class="top top-style3">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <ul class="flat-information">
              <li>Mon - Fri: 8.00 - 18:00</li>
              <li><span>P:</span><a href=""> 1-800-456-7890</a></li>
              <li><span>E:</span><a href=""> info.contact@gmail.com</a></li>
            </ul>
          </div>
          <!-- col-md-8 -->
          <div class="col-md-4">
            <div class="wrap-flat">
              <ul class="flat-login-register">
                <li><a href="">Sign</a></li>
                <li><a href="">Register</a></li>
              </ul>
              <ul class="flat-socials">
                <li>
                  <a href=""><i class="fa fa-facebook"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-google-plus"></i></a>
                </li>
                <li>
                  <a href=""><i class="fa fa-pinterest"></i></a>
                </li>
              </ul>
            </div>
            <!-- wrap-flat -->
          </div>
          <!-- col-md-4 -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </div>
    <!-- top -->
  </div>
  <!-- bottom -->
</div>
<!-- Boxed -->
