<div class="boxed position_form">
  <div class="wrap-header clearfix">
    <!-- Popular-event -->
    <section class="flat-row bg-theme pd-top-94">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-section">
              <h1 class="title">POPULAR EVENT</h1>
              <div class="sub-title">Upcoming Education Events to feed your brain.</div>
            </div>
          </div>
          <!-- col.md-12 -->
        </div>
      </div>
      <!-- container -->

      <div class="container popular-event">
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div class="wrap-event-times">
              <ol class="wrap-times wrap-times-style2 content mCustomScrollbar">
                <li>
                  <article class="times-body">
                    <div class="time-list">
                      <p class="number-mon">08</p>
                      <p class="text-mon">AGU</p>
                    </div>
                    <div class="times-meta">
                      <h6><a href="#" title="">Alumni Weekend 2016</a></h6>
                      <span class="hour">8:00 AM - 5:00 PM</span>
                      <span class="adress">New Delhi, India</span>
                    </div>
                  </article>
                </li>
                <li>
                  <article class="times-body">
                    <div class="time-list">
                      <p class="number-mon">23</p>
                      <p class="text-mon">MAR</p>
                    </div>
                    <div class="times-meta">
                      <h6><a href="#" title="">Special Events: No Stress Week</a></h6>
                      <span class="hour">8:00 AM - 5:00 PM</span>
                      <span class="adress">NewYork, United State</span>
                    </div>
                  </article>
                </li>
                <li>
                  <article class="times-body">
                    <div class="time-list">
                      <p class="number-mon">10</p>
                      <p class="text-mon">AGU</p>
                    </div>
                    <div class="times-meta">
                      <h6><a href="#" title="">October Fest or Spring Fest</a></h6>
                      <span class="hour">8:00 AM - 5:00 PM</span>
                      <span class="adress">New Delhi, India</span>
                    </div>
                  </article>
                </li>
                <li>
                  <article class="times-body">
                    <div class="time-list">
                      <p class="number-mon">16</p>
                      <p class="text-mon">MAR</p>
                    </div>
                    <div class="times-meta">
                      <h6><a href="#" title="">October Fest or Spring Fest</a></h6>
                      <span class="hour">8:00 AM - 5:00 PM</span>
                      <span class="adress">NewYork, United State</span>
                    </div>
                  </article>
                </li>
                <li>
                  <article class="times-body">
                    <div class="time-list">
                      <p class="number-mon">08</p>
                      <p class="text-mon">AGU</p>
                    </div>
                    <div class="times-meta">
                      <h6><a href="#" title="">Alumni Weekend 2016</a></h6>
                      <span class="hour">8:00 AM - 5:00 PM</span>
                      <span class="adress">New Delhi, India</span>
                    </div>
                  </article>
                </li>
                <li>
                  <article class="times-body">
                    <div class="time-list">
                      <p class="number-mon">23</p>
                      <p class="text-mon">MAR</p>
                    </div>
                    <div class="times-meta">
                      <h6><a href="#" title="">Special Events: No Stress Week</a></h6>
                      <span class="hour">8:00 AM - 5:00 PM</span>
                      <span class="adress">NewYork, United State</span>
                    </div>
                  </article>
                </li>
                <li>
                  <article class="times-body">
                    <div class="time-list">
                      <p class="number-mon">10</p>
                      <p class="text-mon">AGU</p>
                    </div>
                    <div class="times-meta">
                      <h6><a href="#" title="">October Fest or Spring Fest</a></h6>
                      <span class="hour">8:00 AM - 5:00 PM</span>
                      <span class="adress">New Delhi, India</span>
                    </div>
                  </article>
                </li>
                <li>
                  <article class="times-body">
                    <div class="time-list">
                      <p class="number-mon">16</p>
                      <p class="text-mon">MAR</p>
                    </div>
                    <div class="times-meta">
                      <h6><a href="#" title="">October Fest or Spring Fest</a></h6>
                      <span class="hour">8:00 AM - 5:00 PM</span>
                      <span class="adress">NewYork, United State</span>
                    </div>
                  </article>
                </li>
              </ol>
            </div>
            <!-- wrap-event-times -->
          </div>
          <!-- col-md-6 -->
          <div class="col-md-6 col-sm-6">
            <div class="flat-testimonials owl-carousel wrap-box pdtop" data-item="1" data-nav="true" data-auto="true">
              <div class="testimonial">
                <div class="testimonial-content">
                  <p>
                    <i class="fa fa-quote-left"></i>I enjoyed the subtle cultural differences the most, everyone<br />I
                    met were so friendly and helpful.<i class="wrap-box ispace"></i>I'll never forget the friends
                    i've<br />made and the once-in-a-lifetime experiences i've had. The Edu<br />harvard is truly
                    magnificent.<i class="fa fa-quote-right"></i>
                  </p>
                </div>
                <div class="wrap-testimonial">
                  <div class="testimonial-author">
                    <div class="author-img">
                      <img src="images/team/11.jpg" alt="image" />
                    </div>
                    <div class="athor-info">
                      <span class="author-name">Kiwhi Leonard</span><br />
                      <span class="author-position">CREATIVE DIRECTOR</span>
                    </div>
                  </div>
                </div>
                <!-- wrap-testimonial -->
              </div>
              <!-- testimonial -->
              <div class="testimonial">
                <div class="testimonial-content">
                  <p>
                    <i class="fa fa-quote-left"></i>I enjoyed the subtle cultural differences the most, everyone<br />I
                    met were so friendly and helpful.<i class="wrap-box ispace"></i>I'll never forget the friends
                    i've<br />made and the once-in-a-lifetime experiences i've had. The Edu<br />harvard is truly
                    magnificent.<i class="fa fa-quote-right"></i>
                  </p>
                </div>
                <div class="wrap-testimonial">
                  <div class="testimonial-author">
                    <div class="author-img">
                      <img src="images/team/11.jpg" alt="image" />
                    </div>
                    <div class="athor-info">
                      <span class="author-name">Kiwhi Leonard</span><br />
                      <span class="author-position">CREATIVE DIRECTOR</span>
                    </div>
                  </div>
                </div>
                <!-- wrap-testimonial -->
              </div>
              <!-- testimonial -->
              <div class="testimonial">
                <div class="testimonial-content">
                  <p>
                    <i class="fa fa-quote-left"></i>I enjoyed the subtle cultural differences the most, everyone<br />I
                    met were so friendly and helpful.<i class="wrap-box ispace"></i>I'll never forget the friends
                    i've<br />made and the once-in-a-lifetime experiences i've had. The Edu<br />harvard is truly
                    magnificent.<i class="fa fa-quote-right"></i>
                  </p>
                </div>
                <div class="wrap-testimonial">
                  <div class="testimonial-author">
                    <div class="author-img">
                      <img src="images/team/11.jpg" alt="image" />
                    </div>
                    <div class="athor-info">
                      <span class="author-name">Kiwhi Leonard</span><br />
                      <span class="author-position">CREATIVE DIRECTOR</span>
                    </div>
                  </div>
                </div>
                <!-- wrap-testimonial -->
              </div>
              <!-- testimonial -->
            </div>
            <!-- flat-testimonials -->
          </div>
          <!-- col-md-6 -->
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>
  </div>
  <!-- bottom -->
</div>
<!-- Boxed -->
