<div class="boxed position_form">
  <div class="wrap-header clearfix">
    <!-- flat-contact -->
    <section class="flat-row bg-theme flat-contact">
      <div class="container">
        <div class="row">
          <div class="col-md-8">
            <div class="title-section left color-sub">
              <h1 class="title">EDUCATION THEMES</h1>
              <div class="sub-title">
                Eduharvart is an education platform that partners with top universities and organizations <br />
                worldwide,<span class="color-gray"> Absolutely FREE.</span>
              </div>
            </div>
          </div>
          <!-- col.md-8 -->
          <div class="col-md-4 right-contact">
            <div class="wrap-btn">
              <a class="flat-btn bg-color" href="#">ENROLL NOW</a>
            </div>
          </div>
          <!-- col.md-4 -->
        </div>
        <!-- row -->
      </div>
      <!-- Container -->
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="center-contact">
              <img src="images/11.jpg" alt="image" />
            </div>
          </div>
        </div>
      </div>
      <!-- Container -->

      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="subscribe-contact wrap-box pdfull">
              <div class="title-section">
                <h1 class="title">SUBSCRIBE TO NEWSLETTER</h1>
                <div class="sub-title">
                  Subscribe now and receive weekly newsletter with educational materials, new courses,<br />interesting
                  posts, popular books and much more!
                </div>
              </div>
              <form
                action="./contact/contact-process.php"
                method="post"
                id="formsubscribe"
                class="formsearch search-course"
              >
                <p class="subscribe-email">
                  <input
                    type="text"
                    id="emailsubscribe"
                    name="email"
                    value=""
                    required="required"
                    placeholder="Your email here"
                  />
                </p>
                <div class="subscribe-btn">
                  <div class="wrap-btn">
                    <a class="flat-btn bg-color" href="#">ENROLL NOW</a>
                  </div>
                </div>
              </form>
            </div>
            <!-- subscribe-contact -->
          </div>
          <!-- Col-md-12 -->
        </div>
        <!-- row -->
      </div>
      <!-- Container -->
    </section>
  </div>
  <!-- bottom -->
</div>
<!-- Boxed -->
