<!-- Preloader -->
<section class="loading-overlay">
  <div class="Loading-Page">
    <h2 class="loader">Loading</h2>
  </div>
</section>

<!-- Boxed -->
<div class="boxed">
  <div class="top">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="flat-information">
            <li>Mon - Fri: 8.00 - 18:00</li>
            <li><span>P:</span><a href=""> 1-800-456-7890</a></li>
            <li><span>E:</span><a href=""> info.contact@gmail.com</a></li>
          </ul>
        </div>
        <!-- col-md-8 -->
        <div class="col-md-4">
          <div class="wrap-flat">
            <ul class="flat-login-register">
              <li><a href="">Sign</a></li>
              <li><a href="">Regester</a></li>
            </ul>
            <ul class="flat-socials">
              <li>
                <a href=""><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-google-plus"></i></a>
              </li>
              <li>
                <a href=""><i class="fa fa-pinterest"></i></a>
              </li>
            </ul>
          </div>
          <!-- wrap-flat -->
        </div>
        <!-- col-md-4 -->
      </div>
      <!-- row -->
    </div>
    <!-- container -->
  </div>
  <!-- top -->
  <header id="header" class="header clearfix">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="logo">
            <a href="index.html"><img src="../../../assets/images/logo.png" alt="image" /></a>
          </div>
          <!-- /logo -->
          <div class="flat-search">
            <ul>
              <li class="show-search">
                <a href=""><i class="lnr lnr-magnifier"></i></a>
              </li>
              <li>
                <a href="#"><i class="lnr lnr-cart"></i></a>
              </li>
            </ul>
            <div class="btn-menu">
              <span></span>
            </div>
            <!-- //mobile menu button -->
          </div>
          <!-- /wrap-search -->
          <div class="wrap-nav">
            <nav id="mainnav" class="mainnav">
              <ul class="menu">
                <li>
                  <a href="index.html" title="">HOME</a>
                  <ul class="submenu">
                    <li><a href="index.html" title="">Home style 01</a></li>
                    <li><a href="index2.html" title="">Home style 02</a></li>
                    <li><a href="index3.html" title="">Home style 03</a></li>
                    <li><a href="index4.html" title="">Home style 04</a></li>
                    <li><a href="index5.html" title="">Home style 05</a></li>
                    <li><a href="aboutus.html" title="">About Us</a></li>
                  </ul>
                </li>
                <li class="has-mega-menu">
                  <a href="course-grid.html" title="" class="has-mega">COURSES</a>
                  <ul class="submenu submenu-style2 mega-menu three-columns">
                    <li class="submenu-level">
                      <ul class="submenu2">
                        <li class="sub-title">
                          <a href="#">TECHNOLOGY</a>
                          <span class="btn-mega"></span>
                        </li>
                        <li class="mega-menu-sub">
                          <ul>
                            <li><a href="#">UI/UX</a></li>
                            <li><a href="" title="">Design Web</a></li>
                            <li><a href="" title="">HTML5/CSS3</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="" title="">Saler</a></li>
                            <li><a href="" title="">Finace</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="submenu-level">
                      <ul class="submenu2">
                        <li class="sub-title">
                          <a href="#">DESIGN WEBSITE</a>
                          <span class="btn-mega"></span>
                        </li>
                        <li class="mega-menu-sub">
                          <ul>
                            <li><a href="course-grid.html">Course Grid</a></li>
                            <li><a href="course-sidebar.html" title="">Course Sidebar</a></li>
                            <li><a href="course-list.html" title="">Course List</a></li>
                            <li><a href="course-table.html">Course Table</a></li>
                            <li><a href="course-details.html" title="">Course Details</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="submenu-level">
                      <ul class="submenu2">
                        <li class="sub-title">
                          <a href="#">CODE</a>
                          <span class="btn-mega"></span>
                        </li>
                        <li class="mega-menu-sub">
                          <ul>
                            <li><a href="#">UI/UX</a></li>
                            <li><a href="" title="">Design Web</a></li>
                            <li><a href="" title="">HTML5/CSS3</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="" title="">Saler</a></li>
                            <li><a href="" title="">Finace</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li class="submenu-level">
                      <ul class="submenu2">
                        <li class="sub-title">
                          <a href="#">GAME</a>
                          <span class="btn-mega"></span>
                        </li>
                        <li class="mega-menu-sub">
                          <ul>
                            <li><a href="#">UI/UX</a></li>
                            <li><a href="" title="">Design Web</a></li>
                            <li><a href="" title="">HTML5/CSS3</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="" title="">Saler</a></li>
                            <li><a href="" title="">Finace</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li>
                  <a href="our-teacher.html" title="">PAGES</a>
                  <ul class="submenu">
                    <li><a href="our-teacher.html">Our Teachers</a></li>
                    <li><a href="gallery-masonry.html">Gallery Masonry</a></li>
                    <li><a href="gallery-grid01.html">Gallery Grid 01</a></li>
                    <li><a href="gallery-grid02.html">Gallery Grid 02</a></li>
                  </ul>
                </li>
                <li class="active">
                  <a href="blog-list01.html" title="">BLOG</a>
                  <ul class="submenu">
                    <li><a href="blog-list01.html">Blog List 01</a></li>
                    <li><a href="blog-list02.html">Blog List 02</a></li>
                    <li><a href="blog-list03.html">Blog list 03</a></li>
                    <li><a href="blog-zigzac01.html">Blog Zigzac 01</a></li>
                    <li><a href="blog-zigzac02.html">Blog Zigzac 02</a></li>
                    <li><a href="blog-details.html">Blog Details</a></li>
                  </ul>
                </li>
                <li><a href="" title="">SHOP</a></li>
                <li>
                  <a href="contact.html" title="">CONTACT</a>
                  <ul class="submenu">
                    <li><a href="contact.html" title="">Contact</a></li>
                    <li><a href="404.html" title="">Page 404</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
            <div class="top-search">
              <form action="#" id="searchform-all" method="get">
                <div>
                  <input type="text" id="s" class="sss" placeholder="Search..." />
                  <input type="submit" value="" id="searchsubmit" />
                </div>
              </form>
            </div>
            <!-- /top-search -->
          </div>
          <!-- /wrap-nav -->
        </div>
        <!-- /col-md-12 -->
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </header>
  <!-- /header -->

  <div class="wrap-slider">
    <div class="container page-container">
      <div class="page-content">
        <div class="page-title">
          <h1>BLOGS-LIST01</h1>
          <div class="breadcrumbs">
            <ul>
              <li><a href="#">Home</a></li>
              <li>Blog</li>
            </ul>
          </div>
          <!-- breadcrumb -->
        </div>
        <!-- page-title -->
      </div>
    </div>
    <!-- container -->
  </div>
  <!-- wrap-slider -->

  <section class="flat-row pd-blog bg-theme blog-list1">
    <div class="container">
      <div class="wrap-post">
        <article class="entry">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="entry-post">
                <div class="entry-meta">
                  <span>march 14, 2016</span>
                </div>
                <h3 class="entry-title">
                  <a href="#">THE GLOBAL<br />STUDENT CHALLENGE</a>
                </h3>
                <div class="entry-author">
                  <span>by <a href="#">Kiwhi Leonard</a></span>
                </div>
                <div class="entry-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam.
                  </p>
                </div>
                <div class="more-link">
                  <a href="#">READ MORE</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="feature-post">
                <a href="#"><img src="../../../assets/images/blog/list1/1.jpg" alt="image" /></a>
              </div>
            </div>
          </div>
        </article>
        <article class="entry">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="entry-post">
                <div class="entry-meta">
                  <span>march 14, 2016</span>
                </div>
                <h3 class="entry-title">
                  <a href="#">I HOPE MY<br />GRADUATING SOON</a>
                </h3>
                <div class="entry-author">
                  <span>by <a href="#">Kiwhi Leonard</a></span>
                </div>
                <div class="entry-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam.
                  </p>
                </div>
                <div class="more-link">
                  <a href="#">READ MORE</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="feature-post">
                <a href="#"><img src="../../../assets/images/blog/list1/2.jpg" alt="image" /></a>
              </div>
            </div>
          </div>
        </article>
        <article class="entry">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="entry-post">
                <div class="entry-meta">
                  <span>march 14, 2016</span>
                </div>
                <h3 class="entry-title">
                  <a href="#">STUDENT ACTION<br />FOR REFUGEES</a>
                </h3>
                <div class="entry-author">
                  <span>by <a href="#">Kiwhi Leonard</a></span>
                </div>
                <div class="entry-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam.
                  </p>
                </div>
                <div class="more-link">
                  <a href="#">READ MORE</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="feature-post">
                <a href="#"><img src="../../../assets/images/blog/list1/3.jpg" alt="image" /></a>
              </div>
            </div>
          </div>
        </article>
        <article class="entry">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="entry-post">
                <div class="entry-meta">
                  <span>march 14, 2016</span>
                </div>
                <h3 class="entry-title">
                  <a href="#">CHARITY CHALLENGE<br />FOR SPEEDY STUDENTS</a>
                </h3>
                <div class="entry-author">
                  <span>by <a href="#">Kiwhi Leonard</a></span>
                </div>
                <div class="entry-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam.
                  </p>
                </div>
                <div class="more-link">
                  <a href="#">READ MORE</a>
                </div>
              </div>
              <!-- entry-post -->
            </div>
            <!-- col-md-6 -->
            <div class="col-md-6 col-sm-6">
              <div class="feature-post">
                <a href="#"><img src="../../../assets/images/blog/list1/4.jpg" alt="image" /></a>
              </div>
            </div>
            <!-- col-md-6 -->
          </div>
          <!-- Boxed -->
        </article>
      </div>
      <!-- wrap-post -->
      <div class="blog-pagination">
        <ul class="flat-pagination">
          <li>
            <a href="#"><i class="fa fa-long-arrow-left"></i></a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li class="active"><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
          </li>
        </ul>
      </div>
      <!-- /.blog-pagination -->
    </div>
    <!-- container -->
  </section>

  <a class="go-top show"></a>
</div>
<!-- Boxed -->
