<!-- Preloader -->
<section class="loading-overlay">
  <div class="Loading-Page">
    <h2 class="loader">Loading</h2>
  </div>
</section>

<!-- Boxed -->
<div class="boxed">
  <div class="wrap-slider">
    <div class="container page-container">
      <div class="page-content">
        <div class="page-title">
          <h1>BLOGS-LIST01</h1>
          <div class="breadcrumbs">
            <ul>
              <li><a href="#">Home</a></li>
              <li>Blog</li>
            </ul>
          </div>
          <!-- breadcrumb -->
        </div>
        <!-- page-title -->
      </div>
    </div>
    <!-- container -->
  </div>
  <!-- wrap-slider -->

  <section class="flat-row pd-blog bg-theme blog-list1">
    <div class="container">
      <div class="wrap-post">
        <article class="entry">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="entry-post">
                <div class="entry-meta">
                  <span>march 14, 2016</span>
                </div>
                <h3 class="entry-title">
                  <a href="#">THE GLOBAL<br />STUDENT CHALLENGE</a>
                </h3>
                <div class="entry-author">
                  <span>by <a href="#">Kiwhi Leonard</a></span>
                </div>
                <div class="entry-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam.
                  </p>
                </div>
                <div class="more-link">
                  <a href="#">READ MORE</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="feature-post">
                <a href="#"><img src="../../../assets/images/blog/list1/1.jpg" alt="image" /></a>
              </div>
            </div>
          </div>
        </article>
        <article class="entry">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="entry-post">
                <div class="entry-meta">
                  <span>march 14, 2016</span>
                </div>
                <h3 class="entry-title">
                  <a href="#">I HOPE MY<br />GRADUATING SOON</a>
                </h3>
                <div class="entry-author">
                  <span>by <a href="#">Kiwhi Leonard</a></span>
                </div>
                <div class="entry-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam.
                  </p>
                </div>
                <div class="more-link">
                  <a href="#">READ MORE</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="feature-post">
                <a href="#"><img src="../../../assets/images/blog/list1/2.jpg" alt="image" /></a>
              </div>
            </div>
          </div>
        </article>
        <article class="entry">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="entry-post">
                <div class="entry-meta">
                  <span>march 14, 2016</span>
                </div>
                <h3 class="entry-title">
                  <a href="#">STUDENT ACTION<br />FOR REFUGEES</a>
                </h3>
                <div class="entry-author">
                  <span>by <a href="#">Kiwhi Leonard</a></span>
                </div>
                <div class="entry-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam.
                  </p>
                </div>
                <div class="more-link">
                  <a href="#">READ MORE</a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="feature-post">
                <a href="#"><img src="../../../assets/images/blog/list1/3.jpg" alt="image" /></a>
              </div>
            </div>
          </div>
        </article>
        <article class="entry">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <div class="entry-post">
                <div class="entry-meta">
                  <span>march 14, 2016</span>
                </div>
                <h3 class="entry-title">
                  <a href="#">CHARITY CHALLENGE<br />FOR SPEEDY STUDENTS</a>
                </h3>
                <div class="entry-author">
                  <span>by <a href="#">Kiwhi Leonard</a></span>
                </div>
                <div class="entry-content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam.
                  </p>
                </div>
                <div class="more-link">
                  <a href="#">READ MORE</a>
                </div>
              </div>
              <!-- entry-post -->
            </div>
            <!-- col-md-6 -->
            <div class="col-md-6 col-sm-6">
              <div class="feature-post">
                <a href="#"><img src="../../../assets/images/blog/list1/4.jpg" alt="image" /></a>
              </div>
            </div>
            <!-- col-md-6 -->
          </div>
          <!-- Boxed -->
        </article>
      </div>
      <!-- wrap-post -->
      <div class="blog-pagination">
        <ul class="flat-pagination">
          <li>
            <a href="#"><i class="fa fa-long-arrow-left"></i></a>
          </li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li class="active"><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li>
            <a href="#"><i class="fa fa-long-arrow-right"></i></a>
          </li>
        </ul>
      </div>
      <!-- /.blog-pagination -->
    </div>
    <!-- container -->
  </section>

  <a class="go-top show"></a>
</div>
<!-- Boxed -->
