<!-- Preloader -->
<section class="loading-overlay">
  <div class="Loading-Page">
    <h2 class="loader">Loading</h2>
  </div>
</section>

<!-- Boxed -->
<div class="boxed">
  <div class="wrap-slider">
    <div class="container page-container">
      <div class="page-content">
        <div class="page-title">
          <h1>CONTACT</h1>
          <div class="breadcrumbs">
            <ul>
              <li><a href="#">Home</a></li>
              <li>Contact</li>
            </ul>
          </div>
          <!-- breadcrumb -->
        </div>
        <!-- page-title -->
      </div>
    </div>
    <!-- container -->
  </div>
  <!-- wrap-slider -->

  <!-- Contact -->
  <section class="flat-row bg-theme pd-top-100 contact">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6">
          <form id="formcontact" class="form-contact" method="post" action="./contact/contact-process.php">
            <div class="form-contact-title">
              <h6 class="contact-title">CONTACT US BY EMAIL!</h6>
              <p>
                At vero eos et accusamus et iusto odios un<br />dignissimos ducimus qui blan ditiis prasixer<br />esentium
                voluptatum.
              </p>
            </div>
            <div class="info-contact">
              <p class="wrap-input-name">
                <input
                  type="text"
                  id="name"
                  name="name"
                  value=""
                  tabindex="1"
                  required="required"
                  placeholder="Full Name"
                />
              </p>
              <p class="wrap-input-phone">
                <input
                  type="text"
                  id="phone"
                  name="phone"
                  value=""
                  tabindex="2"
                  required="required"
                  placeholder="Phone number"
                />
              </p>
              <p class="wrap-input-email">
                <input
                  type="text"
                  id="email"
                  name="email"
                  value=""
                  tabindex="3"
                  required="required"
                  placeholder="Email-address"
                />
              </p>
              <p class="wrap-input-messages">
                <textarea id="messages-contact" name="messages" tabindex="4" placeholder="Messages" required></textarea>
              </p>
              <div class="wrap-btn">
                <button class="flat-btn bg-color">SUBMIT FORM</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-8 col-sm-6">
          <div class="wrap-maps">
            <div id="flat-map"></div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <a class="go-top show"></a>
</div>
<!-- Boxed -->
