<div class="boxed position_form">
  <div class="wrap-header clearfix">
    <!-- form-register -->
    <section class="flat-row pd-80 flat-register">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <form action="./contact/contact-process.php" method="POST" id="form-register" class="form-register">
              <div class="form-register-title">
                <h3 class="register-title">CREATE YOUR FREE<br /><i class="wrap-box ispace7"></i>ACCOUNT NOW!</h3>
              </div>
              <div class="info-register">
                <p class="wrap-input-name">
                  <input type="text" id="name" name="name" value="" required="required" placeholder="Your Name *:" />
                </p>
                <p class="wrap-input-email">
                  <input type="text" id="email" name="email" value="" required="required" placeholder="Email *:" />
                </p>
                <p class="wrap-input-phone">
                  <input type="text" id="phone" name="phone" value="" required="required" placeholder="Phone *:" />
                </p>
                <div class="wrap-btn">
                  <a class="flat-btn" href="#">GET IT NOW</a>
                </div>
              </div>
            </form>
          </div>
          <!-- col-md-5 -->
          <div class="col-md-7 no-paddingright">
            <div class="wrap-register-right wrap-box pdtopleft">
              <div class="wrap-register-title">
                <div class="title-top">GET 100S OF INLINE COURSES FOR FREE</div>
                <div class="title-register">REGISTER NOW</div>
                <div class="sub-title-register">
                  Create your free account now and get immediate access to 100s<br />of online courses.
                </div>
              </div>
              <!-- wrap-register-title -->

              <div id="countdown" class="countdown"></div>
              <!-- CountDown -->
            </div>
            <!-- wrap-register-right -->
          </div>
          <!-- col-md-7 -->
        </div>
      </div>
    </section>
  </div>
  <!-- bottom -->
</div>
<!-- Boxed -->
