<div class="boxed position_form">
  <div class="wrap-header clearfix">
    <!-- latest-news -->
    <section class="flat-row pd-top-93">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title-section">
              <h1 class="title">LATEST NEWS</h1>
              <div class="sub-title">Education news all over the world.</div>
            </div>
          </div>
          <!-- col.md-12 -->
        </div>
      </div>
      <!-- container -->

      <div class="container">
        <div class="blog-list2 lates-new wrap-box pdbottom">
          <div class="row">
            <div class="col-md-6 wrap-grid">
              <article class="entry">
                <div class="row">
                  <div class="col-md-6 col-sm-6 left">
                    <div class="entry-post">
                      <div class="entry-meta">
                        <span>march 14, 2016</span>
                      </div>
                      <h3 class="entry-title">
                        <a href="#">The Global Student<br />Challenge</a>
                      </h3>
                      <div class="entry-author">
                        <span>by <a href="#">Kiwhi Leonard</a></span>
                      </div>
                      <div class="entry-content">
                        <p>The Education Report: A New Report Says Americans Less Happy.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6 right">
                    <div class="feature-post">
                      <a href="#"><img src="images/blog/list2/1.jpg" alt="image" /></a>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <!-- col-md-6 -->
            <div class="col-md-6 wrap-grid">
              <article class="entry">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="entry-post">
                      <div class="entry-meta">
                        <span>AUGUST 13, 2016</span>
                      </div>
                      <h3 class="entry-title">
                        <a href="#">I Hope My Graduating<br />Soon</a>
                      </h3>
                      <div class="entry-author">
                        <span>by <a href="#">Kiwhi Leonard</a></span>
                      </div>
                      <div class="entry-content">
                        <p>The Education Report: A New Report Says Americans Less Happy.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="feature-post">
                      <a href="#"><img src="images/blog/list2/2.jpg" alt="image" /></a>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <!-- col-md-6 -->
            <div class="col-md-6 wrap-grid">
              <article class="entry">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="entry-post">
                      <div class="entry-meta">
                        <span>AUGUST 13, 2016</span>
                      </div>
                      <h3 class="entry-title">
                        <a href="#">Student Action For<br />Refugees</a>
                      </h3>
                      <div class="entry-author">
                        <span>by <a href="#">Kiwhi Leonard</a></span>
                      </div>
                      <div class="entry-content">
                        <p>The Education Report: A New Report Says Americans Less Happy.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6 col-sm-6">
                    <div class="feature-post">
                      <a href="#"><img src="images/blog/list2/3.jpg" alt="image" /></a>
                    </div>
                  </div>
                </div>
              </article>
            </div>
            <!-- col-md-6 -->
            <div class="col-md-6 wrap-grid">
              <article class="entry">
                <div class="row">
                  <div class="col-md-6 col-sm-6">
                    <div class="entry-post">
                      <div class="entry-meta">
                        <span>march 14, 2016</span>
                      </div>
                      <h3 class="entry-title">
                        <a href="#">Charity Challenge For<br />Speedy Students</a>
                      </h3>
                      <div class="entry-author">
                        <span>by <a href="#">Kiwhi Leonard</a></span>
                      </div>
                      <div class="entry-content">
                        <p>The Education Report: A New Report Says Americans Less Happy.</p>
                      </div>
                    </div>
                    <!-- entry-post -->
                  </div>
                  <!-- col-md-6 -->
                  <div class="col-md-6 col-sm-6">
                    <div class="feature-post">
                      <a href="#"><img src="images/blog/list2/4.jpg" alt="image" /></a>
                    </div>
                  </div>
                  <!-- col-md-6 -->
                </div>
                <!-- row -->
              </article>
            </div>
            <!-- col-md-6 -->
          </div>
          <!-- row -->
        </div>
      </div>
      <!-- container -->

      <div class="button-style center mg-left2">
        <div class="wrap-btn">
          <a class="flat-btn pdwith57 no-bg" href="#">VIEW ALL</a>
        </div>
      </div>
    </section>
  </div>
</div>
