<body>
  <!-- Preloader -->
  <section class="loading-overlay">
    <div class="Loading-Page">
      <h2 class="loader">Loading</h2>
    </div>
  </section>

  <!-- Boxed -->
  <div class="boxed">
    <div class="wrap-slider">
      <div class="container page-container">
        <div class="page-content">
          <div class="page-title">
            <h1>GALLERY-MASONRY</h1>
            <div class="breadcrumbs">
              <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li>Gallery</li>
              </ul>
            </div>
            <!-- breadcrumb -->
          </div>
          <!-- page-title -->
        </div>
      </div>
      <!-- container -->
    </div>
    <!-- wrap-slider -->

    <!-- Gallery -->
    <section class="flat-row bg-theme pd-top-97 gallery galleryHome">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul class="portfolio-filter style2">
              <li class="active"><a data-filter=".all" href="#">All</a></li>
              <li><a data-filter=".campus" href="#">Campus</a></li>
              <li><a data-filter=".education" href="#">Education</a></li>
              <li><a data-filter=".teacher" href="#">Teacher</a></li>
              <li><a data-filter=".gradution" href="#">Gradution</a></li>
              <li><a data-filter=".event" href="#">Event</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="wrap-gallery">
              <div class="item width50 all education teacher gradution event">
                <div class="gallery-img">
                  <a href="#">
                    <img src="../../../assets/images/gallery/1.jpg" alt="image" />
                    <div class="overlay"></div>
                  </a>
                </div>
              </div>
              <div class="item campus teacher">
                <div class="gallery-img">
                  <a href="#">
                    <img src="../../../assets/images/gallery/2.jpg" alt="image" />
                    <div class="overlay"></div>
                  </a>
                </div>
              </div>
              <div class="item campus education event">
                <div class="gallery-img">
                  <a href="#">
                    <img src="../../../assets/images/gallery/3.jpg" alt="image" />
                    <div class="overlay"></div>
                  </a>
                </div>
              </div>
              <div class="item width50 all campus gradution">
                <div class="gallery-img">
                  <a href="#">
                    <img src="../../../assets/images/gallery/4.jpg" alt="image" />
                    <div class="overlay"></div>
                  </a>
                </div>
              </div>
              <div class="item all event education">
                <div class="gallery-img">
                  <a href="#">
                    <img src="../../../assets/images/gallery/5.jpg" alt="image" />
                    <div class="overlay"></div>
                  </a>
                </div>
              </div>
              <div class="item width50 all teacher event">
                <div class="gallery-img">
                  <a href="#">
                    <img src="../../../assets/images/gallery/6.jpg" alt="image" />
                    <div class="overlay"></div>
                  </a>
                </div>
              </div>
              <div class="item all campus education teacher">
                <div class="gallery-img">
                  <a href="#">
                    <img src="../../../assets/images/gallery/7.jpg" alt="image" />
                    <div class="overlay"></div>
                  </a>
                </div>
              </div>
            </div>
            <!-- wrap-gallery -->
          </div>
        </div>
        <div class="row">
          <div class="dividers h50"></div>
        </div>
      </div>
      <div class="button-style center mg-left2">
        <div class="wrap-btn">
          <a class="flat-btn pdwith57" href="#">LOAD MORE</a>
        </div>
      </div>
    </section>

    <a class="go-top show"></a>
  </div>
  <!-- Boxed -->
</body>
